# JUPYTER NOTEBOOK_ DANIEL MUNIZ

Atividade de Muito Aprendizado

In [6]:
import pandas as pd
import numpy as np

df = pd.read_excel (r"C:\Users\freak\Downloads\defaultcredit.xlsx")
df.head()

C:\Users\freak\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [4]:
print("Quantidade de colunas:", df.shape[1])

Quantidade de colunas: 25

In [7]:
print("Quantidade de linhas:", len(df))

Quantidade de linhas: 30000

In [8]:
numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Numéricas:", numericas)
categoricas = df.select_dtypes(include=['object', 'category']).columns.tolist()
print("Categóricas:", categoricas)

Numéricas: ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month']
Categóricas: ['ID', 'PAY_1']

In [9]:
numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print(df[numericas].describe())

categoricas = df.select_dtypes(include=['object', 'category']).columns.tolist()
for col in categoricas:
    print(f"\nFrequência de classes na coluna '{col}':")
    print(df[col].value_counts())

            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    165760.989333      1.586500      1.833333      1.535900     35.108800
std     130158.590432      0.513348      0.807699      0.542698      9.851592
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_2         PAY_3         PAY_4         PAY_5         PAY_6  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.132867     -0.164333     -0.219300     -0.263900     -0.288033
std        1.191215      1.191096      1.162348      1.127519      1.144981
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   42791.362167   39884.398167   38480.350933    5613.321500
std    ...   64090.316188   60606.644833   59406.836932   16539.094312
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2034.000000    1534.000000    1080.000000     836.000000
50%    ...   18759.500000   17835.500000   16643.000000    2084.500000
75%    ...   53572.250000   49804.000000   48863.500000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   5.855410e+03    5174.387967    4776.089733    4754.749200
std    2.299256e+04   17565.538305   15532.893047   15239.070708
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.217500e+02     371.000000     223.000000     170.750000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5164.223267                    0.218733
std     17712.664703                    0.413394
min         0.000000                    0.000000
25%         9.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 23 columns]

Frequência de classes na coluna 'ID':
ID
7d5f3242-e1df    2
1b22b0ab-aba3    2
4cb27699-fe3f    2
91c69d1a-8732    2
bf23c70b-bf12    2
                ..
5e9d04ca-53f0    1
891781cb-8211    1
8dd31d95-45cf    1
811730c0-898a    1
798fc410-45c1    1
Name: count, Length: 29687, dtype: int64

Frequência de classes na coluna 'PAY_1':
PAY_1
0                13402
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: count, dtype: int64

In [10]:
print(df.isnull().values.any())

False